body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.chart {
	width:100%;
}


.chart th {
	width: 30%;
}

.chart tr {
	border-bottom:1px solid transparent;
}

.chart tr:nth-child(odd) {
    background: #ddd;
}

.chart td, .chart th {
	vertical-align: top;
	border-right:1px solid transparent;
}
.chart .cell {
	width:100%;
	background: white;
	border:0;
}

.cell-list {
	margin: 0;
	list-style: none;
	padding:0;
}
.cell-list li {
	margin-bottom:1px;
}